menu "MagnoliaOS Configuration"
    config MAGNOLIA_KERNEL_ROOT_PROC_PRIO
        int "Root process priority"
        range 4 32
        default 8
        help
            Приоритет корневого процесса в системе.

source "$IDF_PATH/../main/kernel/core/sched/Kconfig.sched"
source "$IDF_PATH/../main/kernel/core/timer/Kconfig.timer"
source "$IDF_PATH/../main/kernel/core/memory/Kconfig.memory"
source "$IDF_PATH/../main/kernel/core/net/Kconfig.net"

source "$IDF_PATH/../main/kernel/core/elf/Kconfig.elf"
source "$IDF_PATH/../main/kernel/core/job/Kconfig.job"
source "$IDF_PATH/../main/kernel/core/vfs/Kconfig.vfs"
source "$IDF_PATH/../main/kernel/vfs/fs/devfs/Kconfig.devfs"
source "$IDF_PATH/../main/kernel/core/ipc/Kconfig.ipc_root"

endmenu
