[package]
name = "rselftest"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["staticlib"]

[dependencies]
magnolia-applet = { path = "../../../sdk/rust/magnolia-applet" }

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
codegen-units = 1
lto = true
opt-level = "s"

